<!DOCTYPE html>
<html lang=en>
<head>
  <script>dataLayer = [];</script>
  <meta charset=UTF-8>
  <meta name=author content="">
  <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1">
  <meta property=og:title content=DRYV>
  <meta property=og:site_name content=DRYV>
  <meta property=og:description
    content="On-demand dry cleaning and laundry by the best local cleaners. Get top-quality service seven days a week.">
  <meta property=og:type content=website>
  <meta property=og:url content=https://dryv.com> <meta property=og:image
    content=https://s3.amazonaws.com/assets.dryv.com/dryv.com/dryv_og.png> <meta property=og:locale content=en_US>
  <meta property=fb:app_id content=744530675568684>
  <meta name=twitter:card content=summary_large_image>
  <meta name=twitter:site content=@dryv_chi>
  <meta name=twitter:creator content=@dryv_chi>
  <meta name=twitter:title content=DRYV>
  <meta name=twitter:description
    content="DRYV provides flexible on-demand dry cleaning and laundry by the best local cleaners. Get top quality service seven days a week.">
  <meta name=twitter:image content=https://s3.amazonaws.com/assets.dryv.com/dryv.com/dryv_og.png> <link
    rel=apple-touch-icon sizes=57x57 href=../static/favicon/apple-icon-57x57.png> <link rel=apple-touch-icon sizes=60x60
    href=../static/favicon/apple-icon-60x60.png> <link rel=apple-touch-icon sizes=72x72
    href=../static/favicon/apple-icon-72x72.png> <link rel=apple-touch-icon sizes=76x76
    href=../static/favicon/apple-icon-76x76.png> <link rel=apple-touch-icon sizes=114x114
    href=../static/favicon/apple-icon-114x114.png> <link rel=apple-touch-icon sizes=120x120
    href=../static/favicon/apple-icon-120x120.png> <link rel=apple-touch-icon sizes=144x144
    href=../static/favicon/apple-icon-144x144.png> <link rel=apple-touch-icon sizes=152x152
    href=../static/favicon/apple-icon-152x152.png> <link rel=apple-touch-icon sizes=180x180
    href=../static/favicon/apple-icon-180x180.png> <link rel=icon type=image/png sizes=192x192
    href=../static/favicon/android-icon-192x192.png> <link rel=icon type=image/png sizes=32x32
    href=../static/favicon/favicon-32x32.png> <link rel=icon type=image/png sizes=96x96
    href=../static/favicon/favicon-96x96.png> <link rel=icon type=image/png sizes=16x16
    href=../static/favicon/favicon-16x16.png> <link rel=manifest href=../static/favicon/manifest.json> <meta
    name=msapplication-TileColor content=#ffffff>
  <meta name=msapplication-TileImage content=/static/favicon/ms-icon-144x144.png> <meta name=theme-color
    content=#ffffff>
  <script src=../../use.typekit.net/lzo2dua.js> </script> <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        '../../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KBCJLS');</script>
  <link href=../static/css/home.8fed588484c1862b72de5159f9169617.css rel=stylesheet>
</head>

<body ontouchstart=""><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBCJLS" height=0 width=0
      style=display:none;visibility:hidden></iframe></noscript>
  <div id=apps-flyer-banner class=apps-flyer-banner>
    <p id=apps-flyer-banner-close class=close>&times;</p>
    <div class=content>
      <div class=icon><img src=../../assets.Three Heads.com.s3.amazonaws.com/apps-flyer/logo.png alt=DRYV></div>
      <div class=details>
        <p class=title><strong>Three Heads</strong></p><small class=description>Dry cleaning and laundry at the tap of a
          button!</small>
      </div>
    </div>
    <div class=action><a href=https://go.onelink.me/3883576140> <button class="Button Button--primary-outline">Get
        app</button></a></div>
  </div>
  <script>if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
      var banner = document.getElementById('apps-flyer-banner');
      if (banner) {
        setTimeout(function () {
          banner.className += ' ' + 'active';
        }, 2000);

        document.getElementById('apps-flyer-banner-close')
          .addEventListener('click', function () {
            // remove active class
            document.getElementById('apps-flyer-banner').className = 'apps-flyer-banner';
          });
      }
    }</script>
  <contact inline-template v-cloak>
    <div class=Home v-cloak>
      <div class="Mast Mast--contact Mast--secondary">
          <div class=Mast__nav>
          <a class="Nav__item Nav-logo" href=../index.html>
            <img class=Nav-logo src=../static/images/logoWhite.png height="100%">
         </a> 
         <div class="Nav__item caps">
          <a href=../process/index.html class=caps>Process</a>
        </div>
        <div class="Nav__item caps">
          <a href=../pricing/index.html class=caps>Pricing</a>
        </div>
        <div class="Nav__item caps">
          <a href=../blog/index.html class=caps>Blog</a>
        </div>
        <div class="Nav__item caps">
          <a href=../contact/index.html class=caps>Contact</a>
      </div>
    </div>
        <svg class=slant-bot viewBox="0 0 100 100" preserveAspectRatio=none>
        <path fill=#FFFFFF d="M0 100 L100 100 L100 0 Z"></path>
      </svg>
    </div>
    <section class=Home-section>
      <div class=container>
        <h2>Contact Three Heads</h2>
        <p style="text-align: left">Hey there, need help? Complete the form below and one of our support professionals
          will be in touch. Our support team is here to help seven days a week. Also be sure to <a
            href=../help/index.html class=color--primary>check out our FAQ</a> for common questions. If you need
          immediate assistance, please call our phone support anytime Monday through Friday between the hours of 9AM and
          5PM (CST). Our number is <a class=color--primary href=tel:224-413-3517>224-413-3517</a>.</p>
        <form id=contactForm @submit.prevent=createTicket class=Contact>
          <div v-show=submitErrors class="Alert Alert--error animated fadeIn">
            <ul>
              <li v-for="error in errors">{{ error }}</li>
            </ul>
          </div>
          <div v-show=submitSuccess class="Alert Alert--success animated fadeIn"><strong>Hurray!</strong> Your support
            request has been submitted, we’ll be in touch shortly.</div>
          <div class=form-input-group><input type=text v-model=name class=form-input placeholder="Your Name"> <input
              type=email v-model=email class=form-input placeholder="Your Email"></div>
          <div class=row>
            <div class="select-wrapper m-0 mb-10"><select type=text v-model=category class=form-input>
                <option value="Inquiry Type" selected=selected>Inquiry Type</option>
                <option value=promos-and-partnerships>Promos and Partnerships</option>
                <option value=work-for-dryv>Work for Three Heads </option>
                <option value=general-inquiry> General Inquiry </option>
                <option value=customer-support>Customer Support</option>
                <option value=technical-support>Technical Support</option>                 
              </select><i class="fa fa-caret-down toggle"></i></div>
          </div>
          <div class=row><input type=text v-model=subject class=form-input placeholder=Subject></div>
          <div class=form-input-group><textarea type=text v-model=comment class=form-input placeholder=Comment
              rows=8></textarea></div>
          <div class=form-input-group><button v-if="! submitting" class="form-input Button Button--primary" type=submit
              @click.prevent=createTicket>Submit</button> <button v-if=submitting
              class="form-input Button Button--primary" type=submit><i
                class="fa fa-spinner fa-spin"></i>&nbsp;Submitting</button></div>
        </form>
      </div>
    </section>
    <div class="Divider Divider--default"></div>
    <section class=Footer>
      <div class=Footer__resources>
        <ul class=mt-0>
          <li><a href=../index.html><img class=Nav-logo src=../static/images/logoBlack.png> </a> </li> </ul> </div> <div
                class=Footer__resources>
              <h5 class="caps color--light-grey mb-10 mt-0">About Us</h5>
              <ul>
                <li><a href=../help/index.html> <h5 class=caps>FAQ</h5></a></li>
                <li><a href=../pricing/index.html> <h5 class=caps>Pricing</h5></a></li>
                <li><a href=../process/index.html> <h5 class=caps>Process</h5></a></li>
              </ul>
      </div>
      <div class=Footer__resources>
        <h5 class="caps color--light-grey mb-10 mt-0">Contact</h5>
        <ul>
          <li><a href=index.html>
              <h5 class=caps>Contact Support</h5>
            </a></li>
           <li><a href=../terms/index.html> <h5 class=caps>Terms & Conditions</h5></a></li>
          <li><a href=https://www.facebook.com/getdryv target=_blank><i class="fa fa-facebook-square fa-2x"></i></a> <a
              href=https://twitter.com/dryv_chi target=_blank><i class="fa fa-twitter-square fa-2x"></i></a></li>
        </ul>
      </div>
    </section>
    </div>
  </contact>
  <script>var mixpanelInitCallback = function () { };</script>
  <script type=text/javascript src=../static/js/manifest.e1fd083c82ba9fa3168e.js> </script> <script type=text/javascript
    src=../static/js/vendor.dae5849af6369b5a49e0.js> </script> <script type=text/javascript
    src=../static/js/home.4bbb51a78df7e91998fa.js> </script> </body> </html>